@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --cor-principal: #8E2424;
    --cor-texto-principal: #101828;
    --cor-texto-secundario: #667085;
    --fonte-principal: "Inter";
    --cor-bloco: rgba(195, 25, 25, 0.03);
}

body {
    background-color: #FFFFFF;
    font-family: var(--fonte-principal);
    max-width: 1440px;
    margin: 0 auto;
}

.cabecalho {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0.5rem 5rem;
    padding: 0.5rem 2rem;
}
.cabecalho__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 7.5rem;
}
.cabecalho__navegacao {
    display: flex;
    gap: 2rem;
}
.navegacao__link {
    text-decoration: none;
    color: var(--cor-texto-secundario);
    font-family: var(--fonte-principal);
    font-size: 1rem;
    font-weight: 500;
}
.navegacao__link:hover {
    color: var(--cor-principal);
    text-decoration: underline;
}
.cabecalho__entrar {
    display: flex;
    align-items: center;
    gap: 1.5rem;
}
.entrar__link {
    text-decoration: none;
    color: var(--cor-texto-secundario);
    font-family: var(--fonte-principal);
    font-size: 1rem;
    font-weight: 500;
}
.entrar:hover {
    color: var(--cor-principal);
    text-decoration: underline;
}
.cadastrar {
    background-color: var(--cor-principal);
    color: white;
    padding: 0.625rem 1.125rem;
    border-radius: 8px;
}
.cadastrar:hover {
    text-decoration: underline;
}
.container__principal {
    display: flex;
    flex-direction: column;
}
.container__sobre {
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 6.5rem 20rem;
    gap: 24px;
}
.container__sobre > h4 {
    font-weight: 600;
    color: var(--cor-principal);
}
.container__sobre > h1 {
    font-size: 3rem;
    font-weight: 600;
    padding: 0 2rem;
    color: var(--cor-texto-principal);
}
.container__sobre > p {
    font-size: 1.25rem;
    font-weight: 400;
    padding-top: 12px;
    color: var(--cor-texto-secundario);
}
.container__numeros {
    display: flex;
    justify-content: space-around;
}
.container__numeros {
    display: flex;
    padding: 0rem 2rem;
    margin: 0 80px 96px 80px;
    gap: 64px;
}
.span__numeros {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.span__numeros > h1 {
    font-weight: 600;
    color: var(--cor-principal);
    font-size: 3.75rem;
    line-height: 72px;
    width: 280px;
}
.span__numeros > h3 {
    font-weight: 500;
    color: var(--cor-texto-principal);
    font-size: 1.125rem;
}
.span__numeros > p {
    font-weight: 400;
    font-size: 1rem;
    color: var(--cor-texto-secundario);
}

.container__vagas {
    display: flex;
    flex-direction: column;
    margin-bottom: 96px;
}
.vagas__abertas {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 5rem;
    gap: 20px;
}
.vagas__abertas > h4 {
    color: var(--cor-principal);
    font-size: 0.875rem;
    font-weight: 500;
    padding: 0.5rem;
    margin: 0 auto;
    background-color: rgba(142, 36, 36, 0.05);
    width: 125px;
    border-radius: 16px;
}
.vagas__abertas > h2 {
    color: var(--cor-texto-principal);
    font-weight: 600;
    font-size: 2.25rem;
}
.vagas__abertas > p {
    color: var(--cor-texto-secundario);
    font-weight: 400;
    font-size: 1.25rem;
    margin: 0 0 3rem 0;
}
.vagas {
    margin: 0 80px;
    padding: 0 256px;
}
.vagas__profissional {
    display: flex;
    flex-direction: column;
    gap: 32px;
    margin-bottom: 64px;
}
.vagas__profissional > h2 {
    color: var(--cor-texto-principal);
    font-weight: 500;
    font-size: 1.25rem;
}
.vagas__tipos {
    display: flex;
    flex-direction: column;
    gap: 24px;
}
.descricao__vaga {
    display: flex;
    flex-direction: column;
    padding: 24px 24px 28px 24px;
    gap: 32px;
    border-radius: 16px;
    border: 1px solid rgba(234, 236, 240, 1);
}
.descricao__vaga > h2 {
    color: var(--cor-texto-principal);
    font-weight: 500;
    font-size: 18px;
}
.salario {
    display: flex;
    gap: 24px;
    color: var(--cor-texto-secundario);
}
.depoimentos {
    padding: 0 96px 96px 96px;
}
.container__depoimentos {
    display: flex;
    flex-direction: column;
    background-color: rgba(195, 25, 25, 0.03);
    margin: 0 32px;
    padding: 64px;
    border-radius: 16px;
    gap: 32px;
}
.depoimentos__texto {
    display: flex;
    flex-direction: column;
    gap: 16px;
    text-align: center;
}
.depoimentos__texto > h5 {
    color: var(--cor-principal);
    font-weight: 600;
    font-size: 14px;
}
.depoimentos__texto > h2 {
    color: var(--cor-texto-principalr-);
    font-weight: 500;
    font-size: 36px;
}
.depoimentos__colaborador {
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: center;
    justify-content: center;
}
.depoimentos__colaborador > img {
    border-radius: 200px;
}
.depoimentos__colaborador > h5 {
    color: var(--cor-texto-principal);
    font-weight: 500;
    font-size: 1rem;
}
.depoimentos__colaborador > p {
    color: var(--cor-texto-secundario);
    font-weight: 400;
    font-size: 14px;
}
.rodape {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(249, 250, 251, 1);
    padding: 96px 0;
    gap: 32px;
}
.rodape > p {
    color: rgba(152, 162, 179, 1);
    font-weight: 400;
    font-size: 1rem;
}
.rodape__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 32px;
    gap: 40px;
}
.rodape__texto {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 20px;
}
.rodape__texto > h2 {
    color: var(--cor-texto-principal);
    font-weight: 600;
    font-size: 36px;
}
.rodape__texto > p {
    color: var(--cor-texto-secundario);
    font-weight: 400;
    font-size: 20px;
}
#email {
    width: 360px;
    color: var(--cor-texto-secundario);
    font-weight: 400;
    font-size: 16px;
    padding: 12px 14px 12px 16px;
    border: 1px solid rgba(208, 213, 221, 1);
    background-color: white;
    border-radius: 8px;
}
.formulario {
    display: flex;
    gap: 16px;
}
.botao {
    width: 116px;
    padding: 12px 20px;
    background-color: var(--cor-principal);
    border-radius: 8px;
    border: 1px solid var(--cor-principal);
    color: white;
    font-weight: 500;
    font-size: 16px;
    cursor: pointer;
}